<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.m.parselogintutorial" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ParseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MyIntro"
            android:label="@string/IntroApp"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".LoginSignupActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".signup"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".Welcome"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".VehicleDetails"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".PaymentMethod"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".Timer"
            android:label="@string/title_activity_timer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

    </application>

</manifest>
